<div class="back-page " >
  <div>





</div>

    <div class="container d-flex align-items-center justify-content-center " style=" height: 100%;" >
 <!-- Önceki karaktere gitmek için düğme -->
 <p-button (click)="goToPreviousCharacter()" icon="pi pi-angle-left" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>

        <div class="col-md-10 col-sm-8">
           
            <!-- Column -->
            <div class="card">
               <img class="card-img-top" src="assets/detail-img.png" alt="Card image cap">
                <div class="card-body little-profile text-center">
                    <div class="pro-img">
                      <img [src]="character.image" alt="Character Image">
                      <h3 class="m-b-0">{{ character.name }}</h3>
                    <p class="card-text" style="font-style: italic;">{{ character.created }}</p>

                   <div  style=" display: flex; gap: 20px; align-items: center; justify-content: center;">
                    <a  class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">{{character.status}}</a>
                    <a  class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">{{character.gender}}</a>
                   </div>

                    <div class="row text-center m-t-20">
                        <div class="col-lg-4 col-md-4 m-t-20">
                            <h3 class="m-b-0 font-light">Last known location:</h3><small> {{ character.location.name }}</small>
                        </div>
                        <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light">Species</h3><small> {{ character.species }}</small>
                      </div>
                        <div class="col-lg-4 col-md-4 m-t-20">
                            <h3 class="m-b-0 font-light">First seen in:</h3><small> {{ character.origin.name }}</small>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Sonraki karaktere gitmek için düğme -->
    <p-button (click)="goToNextCharacter()" icon="pi pi-angle-right" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>

</div>